* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #8ecae6;
  color: #023e8a;
}

a {
  text-decoration: none;
  color: #dee2e6;
}

li {
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #005f73;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: relative;
}

.menu {
  display: flex;
  gap: 10px;
}

.hero {
  min-height: 80vh;
  padding: 60px 20px 40px;
  background: radial-gradient(circle at top, #005f73, #8ecae6 );
}

.hero-container {
  text-align: center;
  margin-top: 50px;
}

.intro {
  color: #005f73;
  margin-bottom: 10px;
}

.hero-container h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

.descricao {
  color: #005f73;
}

#sobre {
  padding: 60px 20px;
}

#sobre h2 {
  color: #005f73;
  text-align: center;
  margin-bottom: 30px;
}

.sobre-conteudo {
  display: flex;
  flex-direction: column;

  gap: 20px;
  align-items: flex-start;
}

.sobre-conteudo .sobre-texto {
  flex: 1;
}

.sobre-conteudo .sobre-formacao {
  flex: 1;
}

.sobre-texto p {
  color: #edf2f4;
  margin-bottom: 20px;
  line-height: 1.5;
}

.sobre-dados {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.sobre-dados div {
  text-align: center;
}

.sobre-dados strong {
  display: block;
  font-size: 2em;
  color: #005f73;
}

.sobre-dados span {
  font-size: 1em;
  color: #edf2f4;
}

#projetos {          
  text-align: center;
  padding: 60px 20px;                                                                                                                                   ;
}

.projetos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.projetos-container > *{
  flex: 1 1 calc(33.333% - 20px);
}

.projeto-card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}

.projeto-card img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

#projetos h2 {
  color: #005f73;
  margin-bottom: 30px;
}

.projeto-card p {
  color: #edf2f4;
  margin-bottom: 25px;
}

.projeto-card a {
  padding: 10px;
  color: #005f73;
  border: 2px solid #005f73;
  font-weight: bold;
  border-radius: 10px;
}

#habilidades {
  min-height: 45vh;
  text-align: center;
}

#habilidades p {
  color: #005f73;
  margin-bottom: 20px;
}

.habilidades-lista {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.habilidades-card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #005f73;
  width: 150px;
}

.habilidades-card :hover {
  border: 1px solid #005f73;
}

.habilidades-card span {
  padding: 5px 14px;
  border-radius: 10px;
  background: #020617;
  color: #005f73;
  border: 1px solid #005f73;
  font-size: 0.8em;
}

.habilidades-card h3 {
  margin-bottom: 10px;
}

#contato {
  min-height: 50vh;
  text-align: center;
  padding: 1em;
}

#contato h2 {
  color: #005f73;
  margin-bottom: 20px;
}

#contato p {
  color: #edf2f4;
  margin-bottom: 20px;
}

.contato-lista {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
}

.contato-item {
  background: #020617;
  padding: 20px 30px;
  border-radius: 10px;
  border : 1px solid #005f73;
}

.contato-item strong {
  display: block;
  color: #005f73;
  margin-bottom: 5px;
}

.contato-item span {
  color: #edf2f4;
  font-size: 0.7em;
} 

.redes-sociais {
  display: flex;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 768px) {
  .redes-sociais > * {
    flex: 1 1 calc(50% - 20px);
  }
}

.redes-sociais a {
  border: 1px solid #005f73;
  border-radius: 10px;
  color: #005f73;
  padding: 5px 20px;
}

.redes-sociais :hover {
  background: #005f73;
  color: hsl(157, 49%, 46%);
}

.footer {
  background: #020617;
  color: #005f73;
  text-align: center;
  padding: 20px;
}

#hamburguer {
  display: none;
  width: 30px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 60px;
    right: 40px;
    background: #020617;
    padding: 10px;
    border-radius: 10px;
  }

  .menu .ativa {
    display: flex;
  }
}